/* font-family: "Raleway", sans-serif; */
/* font-family: "Roboto", sans-serif; */

body {
  font-family: "Roboto", sans-serif;
  color: #2e2f42;
  background-color: white;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

button {
  cursor: pointer;
}

a {
  color: inherit;
  text-decoration: none;
}
h2 {
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11111;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

@media screen and (max-width: 350px) {
  .container {
    max-width: 350px;
    padding: 0 15px;
    margin: 0 auto;
  }

  .page-header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow:
      0 1px 6px 0 rgba(46, 47, 66, 0.08),
      0 1px 1px 0 rgba(46, 47, 66, 0.16),
      0 2px 1px 0 rgba(46, 47, 66, 0.08);
  }

  .header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .header-nav {
    display: flex;
    align-items: center;
  }

  .logo {
    font-family: "Raleway", sans-serif;
    color: #4d5ae5;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
  }

  .header-logo {
    padding: 24px 0;
    margin-right: 76px;
  }

  .header-logo:focus {
    color: #2e2f42;
  }

  .accent {
    color: #2e2f42;
  }

  .accent:focus {
    color: #4d5ae5;
  }

  .nav-list {
    display: none;
  }

  .contacts {
    display: none;
  }

  .mobile-icon {
    margin: 16px 16px 16px 0;
    cursor: pointer;
  }

  .mobile-menu-backdrop {
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .mobile-menu {
    width: 100%;
    height: 100%;
    background-color: #fff;
    padding: 72px 0 0 16px;
  }

  .close-modal {
    position: absolute;
    top: 24px;
    right: 24px;
    line-height: 0;
    padding: 0;
    fill: #2e2f42;
    background-color: #e7e9fc;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 100%;
    width: 24px;
    height: 24px;
    transition:
      fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
      background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .close-modal:hover,
  .close-modal:focus {
    fill: #fff;
    background-color: #404bbf;
  }

  .mobile-nav-list {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 40px;
    width: 151px;
    height: 200px;
    margin-bottom: 168px;
  }

  .mobile-nav-link {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    color: #2e2f42;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .mobile-contacts-list {
    display: grid;
    gap: 24px;
    padding-bottom: 48px;
  }

  .mobile-contacts-link {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .mobile-nav-link:focus,
  .mobile-contacts-link:focus,
  .mobile-contacts-link.current,
  .mobile-nav-link.current {
    color: #404bbf;
  }

  .mobile-icon-field {
    display: flex;
    gap: 40px;
    margin: 0 24px 40px 16px;
  }

  .mobile-social-link {
    height: 40px;
    width: 40px;
    background-color: #4d5ae5;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .mobile-social-link:focus {
    background-color: #404bbf;
  }

  .mobile-icon-link {
    fill: #f4f4fd;
  }

  .hero {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-left: auto;
    margin-right: auto;
    max-width: 350px;
    padding: 72px 0 72px 0;
  }

  .hero {
    background-image:
      linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
      image-set(
        url("../images/people-office-mob.jpg") 1x,
        url("../images/people-office-mob@2x.jpg") 2x
      );
  }

  .title {
    width: 216px;
    margin-right: auto;
    margin-left: auto;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    text-align: center;
    color: white;
  }

  .title-button {
    display: flex;
    gap: 10px;
    border-radius: 4px;
    padding: 16px 32px;
    color: white;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background-color: #4d5ae5;
    text-align: center;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    font-family: inherit;
    margin: 72px auto;
    margin-bottom: 0%;
    border: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .title-button:focus {
    color: white;
    background-color: #404bbf;
  }
}
