/* font-family: "Raleway", sans-serif; */
/* font-family: "Roboto", sans-serif; */

body {
  font-family: "Roboto", sans-serif;
  color: #2e2f42;
  background-color: white;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

button {
  cursor: pointer;
}

a {
  color: inherit;
  text-decoration: none;
}
h2 {
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11111;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}

.page-header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow:
    0 1px 6px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16),
    0 2px 1px 0 rgba(46, 47, 66, 0.08);
}

.header-container {
  display: flex;
  align-items: center;
}

.header-nav {
  display: flex;
  align-items: center;
}

.logo {
  font-family: "Raleway", sans-serif;
  color: #4d5ae5;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.header-logo {
  padding: 24px 0;
  margin-right: 76px;
}

.header-logo:hover,
.header-logo:focus {
  color: #2e2f42;
}

.accent {
  color: #2e2f42;
}

.accent:hover,
.accent:focus {
  color: #4d5ae5;
}

.nav-list {
  display: flex;
  align-items: center;
  gap: 40px;
}

.nav-link {
  display: block;
  padding: 24px 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link.current {
  position: relative;
}

.nav-link.current::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: #404bbf;
}

.contacts {
  font-style: normal;
  margin-left: auto;
}

.contacts-list {
  display: flex;
  align-items: center;
  gap: 40px;
}

.contacts-link {
  display: block;
  padding: 24px 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link:hover,
.nav-link:focus,
.contacts-link:hover,
.contacts-link:focus,
.nav-link.current {
  color: #404bbf;
}

.hero {
  background-image:
    linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
    url("../images/people-office.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin-left: auto;
  margin-right: auto;
  max-width: 1440px;
  padding-top: 188px;
  padding-bottom: 188px;
}

.title {
  width: 496px;
  margin-right: auto;
  margin-left: auto;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: white;
}

.title-button {
  display: flex;
  gap: 10px;
  border-radius: 4px;
  padding: 16px 32px;
  margin-right: auto;
  margin-left: auto;
  color: white;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background-color: #4d5ae5;
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  font-family: inherit;
  margin: 48px auto;
  margin-bottom: 0%;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.title-button:hover,
.title-button:focus {
  color: white;
  background-color: #404bbf;
}

.features {
  padding-top: 120px;
  padding-bottom: 120px;
}

.features-list {
  display: flex;
  gap: 24px;
}

.features-card {
  width: 264px;
}

.features-icon-item {
  border: 1px solid #8e8f99;
  border-radius: 4px;
  width: 264px;
  height: 112px;
  background-color: #f4f4fd;
}
.features-icon {
  margin: 24px 100px;
}

.features-card-item {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin: 8px 0;
  color: #2e2f42;
}

.features-item {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.team {
  background-color: #f4f4fd;
  padding-top: 120px;
  padding-bottom: 120px;
}

.team-title {
  margin-bottom: 72px;
}

.team-list {
  display: flex;
  gap: 24px;
}

.team-card {
  background-color: white;
  border-radius: 0 0 4px 4px;
  box-shadow:
    0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16),
    0 1px 6px 0 rgba(46, 47, 66, 0.08);
  background: #fff;
}

.team-item {
  padding: 32px 16px;
}

.team-person {
  text-align: center;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.team-specialty {
  text-align: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  margin: 8px 0;
}

.team-icon {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.social-link {
  height: 40px;
  width: 40px;
  background-color: #4d5ae5;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link:hover,
.social-link:focus {
  background-color: #404bbf;
}

.team-icon-link {
  fill: #f4f4fd;
}

.portfolio {
  padding-top: 120px;
  padding-bottom: 120px;
}

.portfolio-title {
  margin-bottom: 72px;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  gap: 48px 24px;
}

.portfolio-card {
  width: 360px;
  position: relative;
  overflow: hidden;
  transition:
    box-shadow 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16),
    0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.portfolio-item {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.portfolio-app {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  padding-bottom: 8px;
  color: #2e2f42;
}

.portfolio-marketing {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.portfolio-overlay {
  position: absolute;
  background-color: #4d5ae5;
  padding: 40px 32px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  overflow: hidden;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-card:hover,
.portfolio-card:focus {
  box-shadow:
    0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16),
    0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.portfolio-image {
  position: relative;
  overflow: hidden;
}

.portfolio-image img {
  display: block;
}

.portfolio-card:hover .portfolio-overlay {
  transform: translateY(0);
}

.overlay-description {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}

.footer {
  background-color: #2e2f42;
  padding-top: 100px;
  padding-bottom: 100px;
}

.footer-container {
  display: flex;
  align-items: flex-start;
  align-items: baseline;
}

.footer-logo {
  color: #4d5ae5;
  display: inline-block;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  font-family: "Raleway", sans-serif;
}

.footer-logo:hover,
.footer-logo:focus {
  color: #f4f4fd;
}

.footer-accent {
  color: #f4f4fd;
}

.footer-accent:hover,
.footer-accent:focus {
  color: #4d5ae5;
}

.footer-text {
  color: #f4f4fd;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  width: 264px;
  margin-top: 16px;
}

.footer-info {
  margin-right: 120px;
}

.footer-social {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding-bottom: 16px;
  color: #fff;
}

.footer-icon {
  display: flex;
  justify-content: center;
  gap: 16px;
}

.footer-social-link:hover,
.footer-social-link:focus {
  background-color: #31d0aa;
}

.footer-social-icon {
  fill: #f4f4fd;
}

.footer-subscribe {
  margin-left: 80px;
  width: 453px;
  height: 80px;
}

.footer-newsletter {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
  color: #fff;
}

.form-section {
  display: flex;
}

.footer-input {
  border: 1px solid #fff;
  border-radius: 4px;
  width: 264px;
  height: 40px;
  padding: 0 10px 0 16px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background-color: #2e2f42;
  color: #fff;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-input:focus {
  outline: none;
  border-color: #31d0aa;
}

.footer-input::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #fff;
}

.footer-button {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 16px;
  border-radius: 4px;
  padding: 8px 24px;
  width: 165px;
  height: 40px;
  margin-left: 24px;
  background-color: #4d5ae5;
  font-weight: 500;
  font-size: 16px;
  border: none;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  color: #fff;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-button:focus,
.footer-button:hover {
  background-color: #31d0aa;
}

.footer-icon {
  fill: #fff;
}

.backdrop {
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition:
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.modal {
  position: relative;
  top: 50%;
  left: 50%;
  width: 408px;
  height: 584px;
  border-radius: 4px;
  padding: 72px 24px 24px 24px;
  overflow: auto;
  transform: translate(-50%, -50%);
  box-shadow:
    0 1px 1px 0 rgba(0, 0, 0, 0.14),
    0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
  background-color: #fcfcfc;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop:not(.is-open) .modal {
  transform: translate(-50%, -100%);
}

.close-modal {
  position: absolute;
  top: 24px;
  right: 24px;
  line-height: 0;
  padding: 0;
  fill: #2e2f42;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 100%;
  width: 24px;
  height: 24px;
  transition:
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-modal:hover,
.close-modal:focus {
  fill: #fff;
  background-color: #404bbf;
}

.modal-description {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;

  margin-bottom: 16px;
  color: #2e2f42;
}

.field-wrapper {
  margin-bottom: 8px;
}

.field-wrapper-inner {
  position: relative;
}

.label-field {
  display: block;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.04em;
  margin-bottom: 4px;
  color: #8e8f99;
}

.terms-label {
  display: inline-block;
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 0.04em;
  color: #8e8f99;
  margin-bottom: 24px;
}

.text-field {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border-radius: 4px;
  padding: 0 10px 0 38px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.04em;
}

.form-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 16px;
  fill: #4d5ae5;
  stroke: none;
  fill: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.comment-field {
  border: 1px solid rgba(46, 47, 66, 0.4);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border-radius: 4px;
  padding: 8px 16px;
  width: 100%;
  height: 120px;
  resize: none;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16667;
  letter-spacing: 0.04em;
  margin-bottom: 16px;
}

.text-field:focus,
.comment-field:focus {
  border-color: #4d5ae5;
  outline: none;
}

.text-field:focus ~ .form-icon {
  fill: #4d5ae5;
}

.custom-checkbox {
  height: 16px;
  width: 16px;
  border-radius: 2px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  transition:
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-right: 8px;
}

.input-checkbox:focus + .terms-label .custom-checkbox {
  border-color: #404bbf;
}

.input-checkbox:checked + .terms-label .custom-checkbox {
  background-color: #404bbf;
  fill: #f4f4fd;
}

.modal-accent {
  color: #4d5ae5;
}

.privacy-link {
  text-decoration: underline;
}

.form-submit {
  display: flex;
  justify-content: center;
}

.form-submit-btn {
  border: none;
  border-radius: 4px;
  padding: 16px 32px;
  width: 169px;
  height: 56px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background-color: #4d5ae5;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-submit-btn:hover,
.form-submit-btn:focus {
  background-color: #404bbf;
  outline: none;
}
